body, html {
    overflow-x: hidden;
}
body {
    min-width: 320px;
    font-family: CiscoSans,Arial,sans-serif;
    color: #424445;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background: #fff;
}
h1.h1-db {
    font-size: calc(24px + (77 - 24) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.5rem + (60 - 1.5) * ((100vw - 300px) / (1600 - 300)));
    margin: 5% 0px; 
}
h2.h2-db {
    font-size: calc(19px + (47 - 19) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(2rem + (33 - 2) * ((100vw - 300px) / (1600 - 300)));
    margin: 0px; 
}
h3.h3-db {
    font-size: calc(18px + (38 - 18) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.2rem + (10 - 4) * ((100vw - 300px) / (1600 - 300)));
    margin: 10px 0px; 
}
p.p-db {
    font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(2rem + (4 - 2) * ((100vw - 300px) / (1600 - 300)));
    margin: 0px; 
}
h1.h1-db, h2.h2-db, h3.h3-db, p.p-db {
    font-weight: 300;
    color: #424445;
}
img {
    display: block;
}
.flex-db {
    display: flex;
}
.grey-bg-db {
    background-color: #F4F5F6;
}
a[href].btn-db:hover, a[href].btn-db:active, a.btn-db[href]:visited {
    color: #fff;
    text-decoration: none;
}
a[href].btn-db {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin: 60px auto 20px;
    padding: 30px 60px;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    border-radius: 50px;
    background-color: #0070d2;
    text-decoration: none;
    text-align: center;
}
.main-container-db {
    max-width: 1600px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    min-width: 0;
    padding: 0;
}
.container-db {
    max-width:1280px;
    margin: auto;
    padding: 70px 0px;
}

/* hero */
.hero-db.flex-db {
    justify-content: center;
    flex-direction: column;
}
.hero-db .container-db {
    padding: 70px 0px 55px;
}
.hero-db h1.h1-db, h3.h3-db {
    text-align: center;
}
.hero-db .images-db {
    position: relative;
    width: 100%;
}
.hero-db .images-db .background-db {
    width: 73%;
    position: relative;
    margin: auto;
}
.hero-db .images-db .person-db {
    width: 73%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}
.hero-db .images-db .moon-db {
    position: absolute;
    width: 1.3%;
    top: 56%;
    left: 30%;
    margin: auto;
    transform: translate(-56%, -50%);
    -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
    animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.hero-db .images-db .plane-db {
    position: absolute;
    width: 6%;
    top: 44%;
    left: 67%;
    margin: auto;
    transform: translate(-56%, -50%);
}
.hero-db .images-db .cloud-db {
    position: absolute;
    width: 2%;
    top: 54%;
    left: 69.8%;
    margin: auto;
    transform: translate(-56%, -50%);
}
.hero-db .images-db .clouds-db {
    position: absolute;
    width: 4.6%;
    top: 69.7%;
    left: 61.8%;
    margin: auto;
    transform: translate(-56%, -50%);
}
/* Grey background */
.grey-bg-db {
    width: 100%;
}
.grey-bg-db h2.h2-db {
    text-align: center;
    padding: 30px 0;
}
.grey-bg-db .single-line-db {
    line-height: calc(2rem + (9 - 2) * ((100vw - 300px) / (1600 - 300)));
    padding: 5% 0;
}
/* Reason */
.reasons-db .flex-db {
    width: 78%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 95px auto;
}
.reasons-db .flex-db p.p-db{
    padding: 0 0 24% 0;
}
.reasons-db div.image-db {
    width: 50%;
}
.reasons-db div.image-db img {
    width: 100%;
}
.progressbar-text {
    font-family: CiscoSans,Arial,sans-serif;
    color: #424445 !important;
    font-weight: 300;
    font-size: calc(18px + (77 - 18) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1;
}
#circle1 {
    margin: -29% -11% 0 65%;
    background-color: #fff;
    border-radius: 50%;
}
#circle2 {
    margin: -30% 64% 0 -10%;
    background-color: #fff;
    border-radius: 50%;
}
#circle3 {
    margin: -35% -11% 0 65%;
    background-color: #fff;
    border-radius: 50%;
}
/* Start */
.start-db .images-db {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 90px 0 0 0;
}
.start-db .images-db .background-db {
    position: relative;
    margin: auto;
    width: 78%;
}
.start-db .images-db .moon-db {
    position: absolute;
    width: 1.5%;
    top: 55%;
    left: 26.5%;
    margin: auto;
    transform: translate(-56%, -50%);
    -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
    animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.start-db .images-db .plane-db {
    position: absolute;
    width: 6.5%;
    top: 51%;
    left: 71%;
    margin: auto;
    transform: translate(-56%, -50%);
}
.start-db .images-db .cloud-db {
    position: absolute;
    width: 2.5%;
    top: 56.7%;
    left: 74.2%;
    margin: auto;
    transform: translate(-56%, -50%);
}
.start-db .images-db .clouds-db {
    position: absolute;
    width: 5%;
    top: 65.7%;
    left: 65.3%;
    margin: auto;
    transform: translate(-56%, -50%);
}
.start-db .text-db {
    text-align: center;
    padding: 40px 0 80px;
}
/* All */
.all-db .images-db .flex-db.top-db {
    justify-content: space-around;
    width: 79.3%;
    padding-top: 92px;
    margin-left: 17%;
}
.all-db .images-db .flex-db.bottom-db {
    justify-content: space-around;
    width: 79.3%;
    padding-top: 9px;
    margin-left: 3.8%;
}
.all-db .images-db img {
    width: 14.5%;
}
.all-db .center-text-db {
    margin: 50px 0;
    text-align: center;
}
.all-db > .flex-db {
    width: 78%;
    margin: 50px auto 70px;
    align-items: center;
    justify-content: space-between;
}
.all-db > .flex-db img {
    width: 50%;
}
.all-db > .flex-db .smaller-db {
    text-align: center;
    margin-right: 12%
}
/* Simplify */
.simplify-db {
    position: relative;
}
.simplify-db img {
    width: 84%;
    margin: auto;
}
.simplify-db .background-db {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}
/* Outro */
.outro-db img {
    width: 100%;
    margin: 100px auto 10px;
}
.outro-db p.p-db{
    text-align: center;
    margin: 40px auto;
    padding: 0 13%;
}
.outro-db .notes-db.container-db {
    width: 70%;
}
.outro-db .notes-db.container-db p.p-db{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(2rem + (3 - 2) * ((100vw - 300px) / (1600 - 300)));
}
.outro-db .notes-db.container-db .bottom-margin-db {
    margin-bottom: 30px;
}

@media only screen and (max-width: 995px) {
    .btn-db {
        font-size: 25px;
        padding: 20px 50px;
    }
    .container-db {
        padding: 55px 0px;
    }
    a[href].btn-db {
        font-size: 25px;
        margin: 45px auto 15px;
        padding: 20px 45px;
    }
    .reasons-db .flex-db {
        width: 87%;
    }
    .all-db > .flex-db {
        width: 87%;
    }
}
@media only screen and (max-width: 850px) {
    .reasons-db .flex-db {
        width: 85%;
        flex-direction: column;
    }
    .reasons-db .flex-db.reverse {
        flex-direction: column-reverse;
    }
    .reasons-db .flex-db p.p-db{
        padding: 20px 0;
        text-align: center;
    }
    .all-db > .flex-db {
        text-align: center;
        flex-direction: column;
    }
    .all-db > .flex-db.reverse {
        flex-direction: column-reverse;
    }
    .all-db > .flex-db .smaller-db {
        margin-right: 0px;
    }
    .all-db > .flex-db p.p-db{
        padding: 20px 0;
    }
    a[href].btn-db {
        font-size: 20px;
        margin: 30px auto 10px;
        padding: 16px 32px;
    }
}

@media only screen and (max-width: 596px) {
    .container-db {
        padding: 40px 0px;
    }
    h1.h1-db {
        margin: 15px auto;
    }
    /* Hero */
    .hero-db .container-db {
        width: 90%;
        padding: 20px 0px;
    }
    .hero-db .images-db .background-db,
    .hero-db .images-db .person-db {
        width: 100%;
    }
    .hero-db .images-db .moon-db {
        width: 2.5%;
        top: 51%;
        left: 24%;
    }
    .hero-db .images-db .plane-db {
        width: 8%;
        top: 42%;
    }
    .hero-db .images-db .cloud-db {
        width: 3%;
        top: 50.7%;
    }
    .hero-db .images-db .clouds-db {
        left: 66.8%;
    }

}





/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

